# Python
.venv/
__pycache__/
*.pyc

# R
.Rhistory
.RData
.Rproj.user/

# Jupyter
.ipynb_checkpoints/

# OS/editor
.DS_Store
Thumbs.db

# Thesis/manuscript/reference files
*.pdf
paper/
*.docx

# Raw / processed data
01_data_raw/
02_data_processed/

# Large local R objects
df.rds
results.rds
